@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: rgb(245, 245, 245);
}

p {
  font-weight: 700;
}

#textBody {
  color: red;
}

.container {
  margin: 12% auto 0 auto;
  max-width: 1000px;
}

@media (max-width: 610px) {
  .container {
    margin-top: 20%;
  }
}

.nav-container {
  margin: auto;
  display: block;
}

.nav-container svg {
  color: #fff;
}

a {
  text-decoration: none;
}
